body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: : #f4f4f4;
}

h1{
  text-align: center;
}

ul#band{
  list-style: square;
  padding: 0;
  width: 50%;
  margin: 0 auto;
}

ul#band li{
  padding: 10px;
  font-size: 18px;
  color: white;
  border-bottom: 1px solid #ccc;
}
